<% include ../../common/views/header.ejs %>
<h2>
    Welcome!
</h2>

<div class="mail-text">
    Thanks for signing up for Stitch. We're glad to have you! Click the link below to get your account set up:
</div>
<a href="<%= getStartedUrl %>" class="myButton">
    Get Started
</a>
<div class="mail-hint">
    Stitch is free for an unlimited number of people
    and unlimited period of time.
</div>
<div class="mail-text">
    <b>Stitch is made for medical providers — </b>people who are in frequent communication with multiple colleagues. For it to work for you, you need a few teammates to join you and use it.

    Need to introduce Stitch to your colleagues? Send them a
    <a href="mailto:?subject=I'm%20inviting%20you%20to%20Stitch&body=Hello!%0A%0AI%20just%20joined%20Stitch%2C%20the%20team%20communication%20platform%20for%20medical%20providers.%20It%20puts%20all%20your%20patients%20conversations%20with%20colleagues%20in%20one%20place.%20Real-time%20communication%20across%20any%20device%2C%20instantly%20searchable.%20And%20100%25%20HIPAA-compliant.%0A%0ACheck%20out%20the%20product%20tour%20at%3A%20teamstitch.com" target="_blank">
        link
    </a>
    to our site for a product tour.

    Lastly, we love to hear from you. Any questions or feedback? We'll respond right away. Just reply to this email or send a new one to us
    <a href="mailto:founders@teamstitch.com?subject=Feedback%20for%20Stitch" target="_blank">
        here
    </a>
    .

    See you inside!
    -- Team Stitch
</div>
<% include ../../common/views/footer.ejs %>
