@import "./button.less";

h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: verdana,geneva,sans-serif;
    color: #665b80;
    margin-bottom: 20px;
}

p {
    font-size: 15px;
    color :black;
    font-family: verdana,geneva,sans-serif;
}

.mail-hint {
    font-family:verdana,geneva,sans-serif;
    color:#696969;
    font-size:12px;
    height: 30px;
    text-align: center;
}

.mail-footer{
    width: 595px;
    font-family:verdana,geneva,sans-serif;
    color:#696969;
    font-size:11px;
    text-align: center;
    border-collapse:collapse;
    border-bottom:0;
    border-top:5px dashed #665b80;
}

.mail-footer a{
    color:#606060;
}

.mail-content{
    text-align: left;
    width: 560px;
    background-color: white;
    padding:35px 18px;
}

td{
    padding: 0;
}
