<div id="lcb-find-providers" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Find Providers
                </h4>
            </div>
            <div class="modal-body">
                <div class="lcb-providers-browser-filter">
                    <label class="lcb-providers-browser-filter-label" for="lcb-providers-browser-filter-input">
                        <i class="fa fa-search"></i>
                    </label>
                    <input id="lcb-providers-browser-filter-input" class="lcb-providers-browser-filter-input" type="search" autofocus />
                </div>
                <ul class="lcb-providers-list"></ul>
            </div>
        </div>
    </div>
</div>
