<div id="lcb-find-providers" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Find Providers
                </h4>
            </div>
            <div class="modal-body">
                <div class="lcb-providers-browser-filter">
<!--                     <label class="lcb-providers-browser-filter-label" for="lcb-providers-browser-filter-input">
                        <i class="fa fa-search"></i>
                    </label> -->
                    <div class="lcb-filter-input">
                        <input id="lcb-providers-browser-filter-input" class="lcb-providers-browser-filter-input form-control " type="search" autofocus />
                    </div>
                </div>
                <table class="lcb-providers-list table">
                    <thead>
                        <th>Name</th>
                        <th>Title</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
