<div id="lcb-find-patients" class="modal lcb-scrollable-modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="btn btn-success lcb-invite-new-provider pull-right" data-toggle="modal" data-target="#lcb-add-room" href="#!/rooms/add">
                    <i class="fa fa-plus"></i>
                    <span>Add New</span>
                </a>
                <h4 class="modal-title">
                    Patient Rooms
                </h4>
            </div>
            <div class="modal-body">
<!--                     <label class="lcb-rooms-browser-filter-label" for="lcb-rooms-browser-filter-input">
                        <i class="fa fa-search"></i>
                    </label>
                    <input id="lcb-rooms-browser-filter-input" class="lcb-rooms-browser-filter-input" type="search" autofocus /> -->
                <div class="lcb-filter-input">
                    <input id="lcb-rooms-browser-filter-input" class="form-control" type="search" autofocus placeholder="Search by name or MRN ..."/>
                </div>
                <div class="lcb-fixed-header-table">
                    <div>
                        <table class="lcb-rooms-list-modal table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Name<div>Name</div>
                                    </th>
                                    <th>
                                        MRN<div>MRN</div>
                                    </th>
                                    <th>
                                        Date Entered<div>Date Entered</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
