<div id="lcb-find-patients" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Patient Rooms
                </h4>
            </div>
            <div class="modal-body">
                <div class="lcb-rooms-browser-filter">
                    <label class="lcb-rooms-browser-filter-label" for="lcb-rooms-browser-filter-input">
                        <i class="fa fa-search"></i>
                    </label>
                    <input id="lcb-rooms-browser-filter-input" class="lcb-rooms-browser-filter-input" type="search" autofocus />
                </div>
                <ul class="lcb-rooms-list"></ul>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" data-toggle="modal" data-target="#lcb-add-room" href="#!/rooms/add">
                    <i class="fa fa-plus"></i>
                    <span>Add Patient</span>
                </a>
            </div>
        </div>
    </div>
</div>
