<div id="lcb-invite-new-provider" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Invite New Provider
                </h4>
            </div>
            <div class="modal-body">
                <p class="lcb-note-text">Invite a new [Organization Name] colleague to Stitch! They'll be invited via email and automatically join this room</p>
                <form>
                    <div class="form-group">
                        <label for="lcb-invite-new-provider-email">Email address (@organizationdomain):</label>
                        <input type="email" class="form-control" id="lcb-invite-new-provider-email">
                    </div>
                    <div class="form-group">
                        <label for="lcb-invite-new-provider-message">Message to provider (will post to patient room):</label>
                        <input type="text" class="form-control" id="lcb-invite-new-provider-message">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" data-dismiss="modal" id="lcb-invite-new-provider-confirm">
                    <i class="fa fa-plus"></i>
                    <span>Add Provider</span>
                </a>
            </div>
        </div>
    </div>
</div>
