<% extends 'base.html' %>

<% block css %>
    <link rel="stylesheet" type="text/css" href="/media/js/vendor/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<% endblock %>

<% block js %>
<$ 'chat' | js | safe $>
<% endblock %>

<% block templates %>
    <% include 'includes/js/room.html' %>
    <% include 'includes/js/user.html' %>
    <% include 'includes/js/file.html' %>
    <% include 'includes/js/message.html' %>
    <% include 'includes/js/tab.html' %>
    <% include 'includes/js/browser-item.html' %>
    <% include 'includes/js/browser-item-user.html' %>
    <% include 'includes/js/browser-room.html' %>
    <% include 'includes/js/browser-provider.html' %>
    <% include 'includes/js/upload.html' %>
<% endblock %>

<% block body %>
    <div id="lcb-client" class="lcb-client">
        <div class="lcb-header">
            <button type="button" class="btn lcb-header-toggle">
                <i class="fa fa-bars"></i>
            </button>
            <div class="lcb-header-logo">Stitch</div>
        </div>
        <section class="lcb-sidebar">
            <div class="dropdown">
                <a class="lcb-account-button dropdown-toggle" data-toggle="dropdown" href="3">
                    <img class="lcb-account-button-avatar lcb-avatar profile-pic" src="/getProfilePicture" />
                    <span class="lcb-account-button-name"><$ account.displayName $></span>
                    <span class="lcb-account-button-position"><$ account.position $></span>
                    <i class="lcb-account-button-chevron fa fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-toggle="modal" href="#lcb-profile">
                            <i class="fa fa-fw fa-edit"></i> Edit Profile
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#lcb-account">
                            <i class="fa fa-fw fa-cogs"></i> Account Settings
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#lcb-notifications">
                            <i class="fa fa-fw fa-bell"></i> Notifications
                        </a>
                    </li>
                    <% if settings.xmpp.enable %>
                        <li>
                            <a data-toggle="modal" href="#lcb-xmpp">
                                <i class="fa fa-fw fa-comments"></i> XMPP/Jabber
                            </a>
                        </li>
                    <% endif %>
                    <li>
                        <a data-toggle="modal" href="#lcb-tokens">
                            <i class="fa fa-fw fa-lock"></i> Auth tokens
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="./logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>
            <div class="lcb-status-indicators">
                <span class="lcb-status-indicator lcb-status-indicator-error lcb-status-connection" data-status="disconnected" style="display: none;">
                    <i class="fa fa-plug"></i> Disconnected
                </span>
                <span class="lcb-status-indicator lcb-status-connection" data-status="connected" style="display: none;">
                    <i class="fa fa-refresh"></i> Connected
                </span>
                <span class="lcb-status-indicator lcb-status-connection" style="display: none;">
                    <i class="fa fa-bell-slash"></i>
                </span>
            </div>
            <ul class="lcb-tabs-header-wrapper">
                <li data-id="list" class="lcb-tab lcb-tab-home">
                    <i class="fa fa-th"></i><span> Patients</span>
                </li>
            </ul>
            <div class="lcb-sidebar-patient-list-wrapper">
                <ul class="lcb-tabs">
                </ul>
                <a class="btn btn-success lcb-find-patients" data-toggle="modal" data-target="#lcb-find-patients" href="#!/find-patients">
                    <i class="fa fa-search"></i>
                    <span>Find Patients</span>
                </a>
            </div>
        </section>
        <section class="lcb-panes">

<!--            <div class="lcb-rooms-browser lcb-pane hide" data-id="list">
               <header class="lcb-rooms-browser-header">
                   <h2 class="lcb-rooms-browser-heading">
                       Patient Rooms
                   </h2>
                   <div class="lcb-rooms-browser-filter">
                       <label class="lcb-rooms-browser-filter-label" for="lcb-rooms-browser-filter-input">
                           <i class="fa fa-search"></i>
                       </label>
                       <input id="lcb-rooms-browser-filter-input" class="lcb-rooms-browser-filter-input" type="search" autofocus />
                   </div>
                   <a class="btn btn-success lcb-rooms-browser-new" data-toggle="modal" data-target="#lcb-add-room" href="#!/rooms/add">
                       <i class="fa fa-plus"></i>
                       <span>Add Patient</span>
                   </a>
               </header>
               <ul class="lcb-rooms-list"></ul>
               < include 'includes/modals/add-room.html' >
           </div> -->

            <div class="lcb-landing lcb-pane">
                <div class="lcb-landing-container">
                    <section class="lcb-landing-title">
                        <h2>Welcome!</h2>
                        <!--<img src="/media/img/title.png" class="title">-->
                        <h4>Central hub for medical team communication.</h4>
                        <h4>Completely HIPAA-secure, patient-centric, and instantly searchable.</h4>
                        <h4>Continuously available where and when you need it.</h4>
                        <h5>1. Select or create a patient on the left panel.</h5>
                        <h5>2. Invite other providers into the conversation on the right panel or by typing ‘@‘</h5>
                        <h5>3. Enjoy access to real-time conversations across multiple devices, easy file sharing, and search.</h5>
                    </section>
                </div>
            </div>
        </section>
        <div class="lcb-loading lcb-client-loading">
            <img class="lcb-loading-indicator" src="./media/img/loading.svg" alt="Loading..." />
        </div>
        <% include 'includes/modals/notifications.html' %>
        <% include 'includes/modals/profile.html' %>
        <% include 'includes/modals/profile-picture.html' %>
        <% include 'includes/modals/account.html' %>
        <% include 'includes/modals/xmpp.html' %>
        <% include 'includes/modals/tokens.html' %>
        <% include 'includes/modals/upload.html' %>
        <% include 'includes/modals/find-patients.html' %>
        <% include 'includes/modals/add-room.html' %>
        <% include 'includes/modals/chat-history.html' %>
        <% include 'includes/modals/find-providers.html' %>
        <% include 'includes/modals/invite-new-provider.html' %>
    </div><!-- lcb-client end -->
<% endblock %>
