                </div>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div class="mail-footer">
                    <br/>
                    <br/>
                    <br/>
                    Made by
                    <a href="http://teamstitch.com" target="_blank">Stitch Technologies, Inc.</a>
                    <br/>
                    100 North Whisman Road &bull; Mountain View, CA &bull; 94043<br/>
                    <br/>
                    <a href="*|UNSUB|*" target="_blank">Unsubscribe</a>
                    from communication about this invitation &nbsp; &nbsp;
                </div>
            </td>
        </tr>
    </table>

</div>
<!--<div> in header.ejs-->
