<div style="text-align: center;">
    <a href="http://teamstitch.com" target="_blank">
        <img align="center" height="35"
              src="https://gallery.mailchimp.com/5fbbcf9bc8ed5ff1328134d1e/images/7e26841f-418f-4d20-8a22-2dcc0fba152c.png"
              style="width: 120px; height: 35px; margin: 0px 0px 15px;"
              width="120"/>
    </a>
</div>
