<div style="background-color:#f2f2f2; padding:45px 0; min-width: 640px">
    <table style="width: 100%; border-collapse: collapse">
        <tr style="height: 55px">
            <td align="center">
                <a href="http://teamstitch.com" target="_blank">
                    <img align="center" height="35"
                         src="https://gallery.mailchimp.com/5fbbcf9bc8ed5ff1328134d1e/images/7e26841f-418f-4d20-8a22-2dcc0fba152c.png"
                         style="width: 120px; height: 35px"
                         width="120"/>
                </a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div class="mail-content">
<!--/divs in footer.ejs-->
