.lcb-landing {
    background: white;
    width: 100%;

    .lcb-landing-container {
        height: 50%;
        width: 50%; 
        margin: auto; 
        position: absolute;
        top: 0; left: 0; bottom: 2; right: 0;

        .lcb-landing-title {
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50%;
            width: 50%;

            h2 {
                font-weight: bold;
                width: 100%;
                text-align: center;
            }

            h4 {
                font-weight: normal;
                width: 100%;
                text-align: center;
            }

            h5 {
                font-weight: normal;
                width: 100%;
                text-align: left;
            }

            img.title {
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 70%;
            
            
            }
        }
    }

}
